spring:
  datasource:
    url: jdbc:mysql://${db.host:localhost}:3306/${db.scheme:shopping}
    username: ${db.username:root}
    password: ${db.password:1234}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      # hibernate.ddl-auto: 테이블 자동 생성 옵션
      #create:      기존 삭제 후 생성
      #update:      엔티티 수정사항만 반영 (컬럼 추가 등, 삭제는 불가)
      #validate:    엔티티-테이블 매핑 일치 확인 (다르면 에러)
      #none:        자동 생성 기능 비활성화 (운영 환경 권장)
      #create-drop: 시작 시 생성, 종료 시 테이블 삭제 (테스트용)
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
        jdbc:
          time_zone: Asia/Seoul
        show_sql: true #로컬에서만
    #        default_batch_fetch_size: 2
    show-sql: true
  data:
    redis:
      ssl:
        enabled: true
      cluster:
        nodes: ${redis.host:localhost:6379}
        max-redirects: 3
  cloud:
    aws:
      region:
        static: ap-northeast-2
      credentials:
        access-key: ${AWS_ACCESS_KEY}
        secret-key: ${AWS_SECRET_KEY}
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4o-mini
          temperature: 0.7
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

app:
  mail:
    from: ${MAIL_FROM:${MAIL_USERNAME}}
    expiration-seconds: ${MAIL_EXPIRATION_SECONDS:300}
    verified-expiration-seconds: ${MAIL_VERIFIED_EXPIRATION_SECONDS:1800}
    vectorstore:
      qdrant:
        host: localhost
        port: 6334
        collection-name: product_recommendations
        initialize-schema: true

    retry:  # OpenAi 호출 실패 대비 재시도 설정
      max-attempts: 4
      backoff:
        initial-interval: 1s
        multiplier: 2
        max-interval: 10s

review-summary:   #리뷰 요약 기능 설정
  max-reviews: 30 # 요약에 사용할 최근 리뷰 개수
  ttl-hours: 24   # 요약 캐시 유효시간

openai:
  prompt-version: v1

s3:
  bucket: kt-techup-shopping-prod-media

jwt:
  secret: ${kt.jwt.secret:kt-cloud-tech-up-shopping-202511171107}
  access-token-expiration: ${kt.jwt.access-token-expiration:300000} #5분
  refresh-token-expiration: ${kt.jwt.refresh-token-expiration:43200000} #12시간

slack:
  bot-token: ${SLACK_API_TOKEN}
  log-channel: ${SLACK_LOG_CHANNEL}

server:
  tomcat:
    accesslog:
      enabled: true
      pattern: "%h %l %u %t \"%r\" %s %b %D"
      directory: logs
      prefix: access_log
      suffix: .log

logging:
  level:
    root: INFO
    com.kt.controller: WARN
    com.kt.service: INFO
    org.hibernate.SQL: ${SQL_LOG_LEVEL:OFF}