<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- 테스트 환경에서는 Logstash를 사용하지 않고 콘솔만 사용 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
